/**
 * Styling specifically for the click-to-dial call popup.
 */
.voipgrid-status {
    width: 300px;
    height: 81px;
    background: white;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;
    box-shadow: rgba(0,0,0,0.25) 0 0 0 2038px, rgba(0,0,0,0.25) 0 10px 20px;

    /* center popup */
    margin-left: -150px;
    margin-top: -42px;
    position: fixed;
    left: 50%;
    top: 50%;
}

/* heading */
.voipgrid-status .heading {
    color: #3c3c50;
    background: #f1f1f1;
    background: linear-gradient(#fafafa 0%, #e9e9e9 100%);
    border-bottom: 1px solid #d5d5d5;
    line-height: 40px;
    height: 40px;
    margin: 0;
    padding: 0 6px;
    letter-spacing: 0.2px;
    font-size: 14px;

    /* force fixed height to include border-width */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* status */
.voipgrid-status .status {
    margin: 0;
    padding: 12px;
}

.voipgrid-status .status-label {
    color: #99c225;
    font-weight: bold;
    font-size: 12px;
}

.voipgrid-status .close {
    cursor: pointer;
    font-size: 13px;
    line-height: 40px;
    margin-right: 4px;
}
