/* center position */
.voipgrid-status {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -42px;
    width: 300px;
    height: 83px;
    background: white;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.25) 0 0 0 2038px, rgba(0,0,0,0.25) 0 10px 20px;

    z-index: 2147483647;
}
.voipgrid-status h2 {
    margin: 0;
    color: #3c3c50;
    background: #f1f1f1;
    background: linear-gradient(top, #fafafa 0%,#e9e9e9 100%);
    border-top: 1px solid #fff;
    border-bottom: 1px solid #d5d5d5;
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    font-weight: normal;
    padding: 0 12px;
    border-radius: 5px 5px 0 0;
    letter-spacing: 0.2px;
}
.voipgrid-status strong {
    color: #99c225;
}
.voipgrid-status p {
    padding: 12px;
    margin: 0;
}
.voipgrid-status i.icon-phone-sign {
    display: inline-block;
    width: 16px;
    height: 16px;
    float: left;
    margin: 12px 8px 0 0;
}
/* icon in base64 */
.voipgrid-status i.icon-phone-sign {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo0MUNEMDZFNDNCNTAxMUUyOTU5MkYwODA1MTY2MjAzRiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo0MUNEMDZFNTNCNTAxMUUyOTU5MkYwODA1MTY2MjAzRiI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkY1ODI3N0EzM0FDMDExRTI5NTkyRjA4MDUxNjYyMDNGIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkY1ODI3N0E0M0FDMDExRTI5NTkyRjA4MDUxNjYyMDNGIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+0OoKGgAAAT9JREFUeNpisbEJcGZgYJgExNJAzATEjED8l4EweAnExSxAog2ItZAkvgAxPxEGgNR0gmwUQTLRHoiVgXgzA3GAH2TAPyin6/Dh9YeA+BWQvZhIA/7B/AwCu5AkdgLxAyIM+M+ExOFEYoPE/xPjBGSFfiDC1jYQ5KLVQKxIqgHxQM3CwDAA8Z8SGQYMyF6QBeJSKLsYiK+SagAIFABd4QR0xVsgOxSIryPJ3QTirYQMYAfiRUBDtIGGgDQ7AfFCqOYgoJgP1OCLUPWMjMCkfAvIUEUzCBSFkUANJ6ABywtkf4ZJAvkqQOo2KKxYcHhNAYi3AxU2A+k5QM2f0OTtYOkA5IJ7BKLsDhCvB+K9QPwTiH2BOBWIeYH4GcgFhAxQgcZOKRa5RyAD8oG4BYjlkfIFNgBL8v+hgf8YiBsAAgwAUDpU9eWUd/sAAAAASUVORK5CYII=);
}
/* close button */
/*@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot');
  src: url('../font/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../font/fontawesome-webfont.woff') format('woff'), url('../font/fontawesome-webfont.ttf') format('truetype'), url('../font/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}*/
.icon-remove-sign:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  content: "\f057";
}
